/*Created 2015-08-26 by Andy*/


body{
    font-family: Maven Pro, sans-serif;
    font-size: 12pt;
    color:black;
    background-color:white;
}

p, ol, ul, td{
    font-family: Maven pro, sans-serif;
}
.maven{
    font-family: Maven pro, sans-serif;
}

.header_container{
    height:90px;
    background:black;
}

.footer_container{
    background-color:black; 
	color:#FFFFFF;
    padding: 10px 0 5px;
    position:relative;
    border:none;
    height:30px;
}
.bottom_nav{
    border-top: solid;
    border-top-width: 1px;
    min-height: 154px;
    padding-top: 42px;
    padding-bottom: 48px;
    color: #fff;
    background-color: #222222;
    font-size: 12pt;
}

.trim_screen {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    position:relative;
}

#logo_container{
    display:inline-block;
}

.site_logo{
    margin-top:15px;
}
.desktop_menu{
    display:inline-block;
}

.desktop_menu_ul{
    
}
.desktop_menu_ul li{
   display:inline-block;
}

.desktop_menu_ul li button{
    color: white;
    background: none;
    height: 52px;
    font-weight: lighter;
    border:none;
    text-transform:uppercase;
    padding-left:10px;
    padding-right:10px;
    margin:0;
    text-align:center;
    font-size:11pt;
}
